img {
  width: 300px;
  height: 300px;
  margin: 30px auto;
  display: flex;
  border-radius: 150px;
  border: 2px solid black;
}
div {
  cursor: pointer;
}
div,
p {
  font: 18px sans-serif;
  text-align: center;
}
